#queryDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

/*for the search bar part*/
#searchDiv {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 4px;
  width: 40%;
  overflow: hidden;
}

body.dark #searchDiv {
  background-color: hsl(209, 23%, 22%);
}

#searchDiv p {
  padding: 15px 7px 15px 27px;
}

input {
  background-color: transparent;
  border: none;
  outline: none;
  flex-grow: 1;
  padding: 15px 20px;
  color: inherit;
}

input::placeholder {
  color: hsl(209, 23%, 22%);
}

body.dark input::placeholder {
  color: inherit;
}

/*for the filter part*/

#filterDiv {
  position: relative;
  width: 215px;
}

#filterBtn {
  background-color: white;
  padding: 15px 20px;
  border-radius: 4px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body.dark #filterBtn {
  background-color: hsl(209, 23%, 22%);
}

#filterBtn:hover {
  cursor: pointer;
}

#filterBtn p {
  display: inline-block;
}

#filterBtn #downIcon {
  font-size: 0.7rem;
}

#filterOptions {
  position: absolute;
  z-index: 2;
  top: 58px;
  background-color: white;
  border-radius: 4px;
  padding: 15px 0;
  width: 100%;
  display: none;
  gap: 6px;
}

body.dark #filterOptions {
  background-color: hsl(209, 23%, 22%);
}

#filterOptions.show {
  display: grid;
}

.filterOption {
  padding: 0 20px;
  transition: background 0.6s;
}

.filterOption.active {
  background-color: hsla(208, 23%, 22%, 0.2);
}

body.dark .filterOption.active {
  background-color: rgba(255, 255, 255, 0.3);
}

.filterOption:hover {
  background: hsla(208, 23%, 22%, 0.2);
  cursor: pointer;
}

body.dark .filterOption:hover {
  background: rgba(255, 255, 255, 0.3);
}

@media (max-width: 992px) {
  /*for the search bar part*/
  #searchDiv {
    width: 50%;
  }

  #filterDiv {
    width: 204px;
  }
}

@media (max-width: 600px) {
  /*for the search bar part*/
  #queryDiv {
    flex-direction: column;
    align-items: start;
  }

  #searchDiv {
    width: 100%;
    margin-bottom: 40px;
  }

  #filterDiv {
    width: 215px;
  }
}
