@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

body {
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsl(200, 15%, 8%);
  background-color: hsl(0, 0%, 98%);
}

main {
  padding: 40px 4%;
}

p, h1, h2, h6 {
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  body {
    color: white;
    background-color: hsl(207, 26%, 17%);
  }
}

@media (max-width: 992px) {
  main {
    padding: 18px 4%;
  }
}

@media (max-width: 600px) {
  body {
    font-size: 0.875rem;
  }
}